<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      div {
        background-color: yellow;
        
      }
      .highlight {
        background-color: yellow;
      }
    </style>
  </head>
  <body>
    <!-- div example -->
    <p>
      <div>Lorem</div>
      ipsum, dolor sit amet consectetur adipisicing elit. Officia vel
      consequatur similique perspiciatis maxime nam, nobis iusto exercitationem
      voluptatum animi!
    </p>

    <!-- span example -->
    <p>
      <span class="highlight">Lorem</span>
      ipsum, dolor sit amet consectetur adipisicing elit. Officia vel
      consequatur similique perspiciatis maxime nam, nobis iusto exercitationem
      voluptatum animi!
    </p>
  </body>
</html>
