<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <article>
      <h1>Heading</h1>
      <p>Published <time datetime="2022-07-31 19:35">July 31, 2022 7:35pm</p>
      <p>
        <mark class="highlight">Lorem,</mark> ipsum dolor sit amet consectetur
        adipisicing elit. Distinctio reprehenderit unde odio totam qui quaerat,
        repudiandae deleniti animi eaque ad?
      </p>
      <figure>
        <img src="" alt="" />
        <figcaption>My Coffee this morning</figcaption>
      </figure>
    </article>
  </body>
</html>

<!--The main take away of this lesson is: using semantic elements like: article, mark, time, figure to make our
our mark up more meaningful and not just full of divs and spans. IE there are other words to use
besides div and span-->
